<footer>
  <div class="container">
    <div class="footer_body">
      <div class="items">
        <h1>Sankir Technologies</h1>
        <ul>
          <li>
            <a href=""> Home </a>
          </li>
          <li><a href="about">About</a></li>
          <li><a href="https://www.sankir.com/my-account/">My Account</a></li>
          <li><a href="">Contact</a></li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="items">
        <h1>contact us</h1>
        <ul>
          <li><a href="">kiran@sankir.com </a></li>
          <li><a href="">9845031055</a></li>
          <li><a href="">sanjay@sankir.com </a></li>
          <li><a href="">9620960030</a></li>
          <li><a href="">info@sankir.com </a></li>
        </ul>
        <ul class="social_media">
          <li>
            <a href="https://www.facebook.com/sankirtech"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/sankir"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/sankirtech/"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UC7a7WWT9kiKwjWMSZDT2DQg/videos"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.meetup.com/Sankir-big-data-group/"
              ><i class="fa fa-meetup"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="items">
        <h1>Location</h1>
        <p>
          247, 3rd Stage, 3rd Block <br />

          Basaveshwaranagar<br />

          Bangalore – 560079<br />
        </p>
      </div>
    </div>
    <div class="footer_bottom">
      <h1>Copyright 2022 © SanKir Technologies Pvt Ltd</h1>
    </div>
  </div>
</footer>
