<nav>
  <div class="container">
    <div class="heading">
      <h1><a href="">Sankir Technologies</a></h1>

      <ul>
        <li><a href="about">About</a></li>
        <li>
          <a href="#Architecture"
            >Consultancy <i class="fa fa-caret-down"></i
          ></a>
          <ul>
            <li><a href="#cloud_service">Cloud Services</a></li>
            <li><a href="#data_engineer">Data Engineering Tools</a></li>
          </ul>
        </li>
        <li><a routerLink="why">WHY sankir</a></li>
        <li><a routerLink="poc">PoC</a></li>
      </ul>
    </div>
  </div>
</nav>
