@import "../../veriable.scss";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

header {
  padding: 2rem 0;

  background-color: $primary-background-color;
  .decstop_nav {
    .nav_bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        h1 {
          color: $primary-color-white;
          font-size: 2.1rem;
          font-weight: 600;
          font-family: "Kanit", sans-serif;
          letter-spacing: 0.05px;
        }
      }
      .menu {
        ul {
          li {
            display: inline-block;
            padding: 0 1rem;
            list-style: none;
            a {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: $primary-color-white;
            }
            ul {
              visibility: hidden;
              position: absolute;
              background-color: #fff !important;
              top: 4.8em;

              li {
                display: block;
                padding: 1rem;
                a {
                  color: $primary-background-color;
                  text-transform: capitalize;
                  letter-spacing: 0;
                  font-size: 1rem;
                }
              }
            }
            &:hover ul {
              visibility: visible;
              z-index: 2;
            }
          }
        }
      }
    }
  }
  .mobile_nav {
    display: none;
  }
}
.toggle_menu {
  display: none;
}
.header_change {
  position: fixed;
  background-color: $primary-background-color;
  width: 100%;
  z-index: 4;
  padding: 2rem 0;
  top: 0;
  transform: translateY(0);
  filter: drop-shadow(rgba(0, 8, 36, 0.05) 0px 4px 8px);
}
.decstop_nav .header_change {
  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      h1 {
        color: $primary-background-color;
        font-size: 2.1rem;
        font-weight: 600;
        font-family: "Kanit", sans-serif;
        letter-spacing: 0.05px;
      }
    }
    .menu {
      ul {
        li {
          display: inline-block;
          padding: 0 1rem;
          list-style: none;
          a {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #fff;
          }
          ul {
            visibility: hidden;
            position: absolute;
            background-color: #fff !important;
            top: 4.8em;

            li {
              display: block;
              padding: 1rem;
              a {
                color: $primary-background-color;
                text-transform: capitalize;
                letter-spacing: 0;
                font-size: 1rem;
              }
            }
          }
          &:hover ul {
            visibility: visible;
            z-index: 2;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header {
    padding: 0;
    z-index: 4;
    position: relative;
    .decstop_nav {
      display: none;
    }
    .mobile_nav {
      display: block;
      padding: 1rem;
      background-color: $primary-background-color;

      .nav_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
          h1 {
            position: relative;
            z-index: 4;
            color: $primary-color-white;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-family: "Kanit", sans-serif;
          }
        }

        .toggle_button {
          button {
            position: relative;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border: none;
            background-color: transparent;
            display: block;
            z-index: 4;

            &.manuicons span {
              transform: translateX(60px);
            }

            &.manuicons span:nth-child(1) {
              transform: translateY(0px);
              width: 20px;
              transform: rotate(50deg);
            }

            &.manuicons span:nth-child(2) {
              transform: translateY(0px);
              width: 20px;
              transform: rotate(128deg);
            }

            & span {
              position: absolute;
              width: 30px;
              height: 2.5px;
              background-color: $primary-color-white;
              border-radius: 4px;
              transition: 0.5s;
              right: 15px;

              &:nth-child(1) {
                transform: translateY(-10px);
                width: 20px;
                left: 15px;
              }

              &:nth-child(2) {
                transform: translateY(10px);
                width: 20px;
                left: 15px;
              }
            }
          }
          .menu-one {
            display: none;
          }
        }
      }
    }
  }

  .toggle_menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: 3;
    box-shadow: 1px 10px 11px 3px #00000017;
    font-family: "Kanit", sans-serif;
    background-color: #fff;
    margin: 0;
    transform: translate(110%);
    padding-top: 6rem;
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    .menus {
      background-color: #fff;
      padding: 3rem 0;
      ul {
        padding: 0;
        .dropdown {
          padding: 0;
        }
        li {
          display: block;

          text-align: center;
          margin: 0rem 7rem;
          padding: 0.5rem;

          border-bottom: 1px solid #888;
          a {
            font-size: 1rem;
            font-weight: 900;
            letter-spacing: 0rem;
            font-family: "Kanit", sans-serif;

            line-height: 2rem;
            text-decoration: none;
            color: $primary-background-color;

            &.active {
              color: #fff;
            }
          }
          ul {
            background-color: transparent;
            border: none;
            li {
              padding: 0;
              background-color: #fff;
              padding: 0 1rem;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .bottom {
      padding-top: 3rem;
    }
    .add {
      position: relative;
      top: 0;
      bottom: 0;
      background-color: $primary-background-color;
      height: auto;
      color: #fff;
      padding: 2rem 2rem 0;
      text-align: center;
      i {
        font-size: 0.9rem;

        padding-bottom: 1rem;
      }
      h1 {
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
        font-family: "Kanit", sans-serif;
      }
      h6 {
        padding-bottom: 2rem;
        border-bottom: 1px solid #f3f0f040;
        font-size: 0.8rem;
        opacity: 0.5;
        font-family: "Kanit", sans-serif;
      }
      p {
        font-size: 0.8rem;
        opacity: 0.5;
        border-bottom: 1px solid #f3f0f040;
        padding-bottom: 2rem;
      }
      ul {
        li {
          border: none;
          display: inline;
          padding: 0;
          margin: 0 0.5rem;
          background-color: transparent;
          a {
            color: #fff;
            font-size: 0.8rem;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .active {
    transform: translate(0%);
    transition: 0.8s;
  }
  .header_change {
    position: fixed;
    background-color: $primary-background-color;
    width: 100%;
    z-index: 4;
    padding: 1rem 0;
    top: 0;
    transform: translateY(0);
    filter: drop-shadow(rgba(0, 8, 36, 0.05) 0px 4px 8px);
  }
}
