<header>
  <nav class="decstop_nav" [class.header_change]="header_variable">
    <div class="container">
      <div class="nav_bar">
        <div class="logo">
          <h1><a href="">Sankir Technologies</a></h1>
        </div>
        <div class="menu">
          <ul class="links">
            <li><a href="">Home</a></li>
            <li>
              <a href="#cloud_service" target="_self">Cloud Services</a>
            </li>
            <li><a href="about">About us</a></li>
            <li><a href="https://www.sankir.com/my-account/">Login</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="https://www.sankir.com/blog/">Blog</a></li>
            <li><a href="#poc">Poc</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="mobile_nav" [class.header_change]="header_variable">
    <div class="container">
      <div class="nav_bar">
        <div class="logo">
          <h1><a href="">Sankir Technologies</a></h1>
        </div>
        <div class="toggle_button">
          <button [ngClass]="{manuicons}" (click)="show()" (click)="showmenu()">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<nav class="toggle_menu navbar" [ngClass]="{active}">
  <div class="menus">
    <ul class="navbar-nav">
      <li>
        <a
          href=""
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          target="_self"
          >Home
        </a>
      </li>
      <li>
        <a
          href="#cloud_service_mobile"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          target="_self"
          >Cloud Services
        </a>
      </li>
      <li>
        <a
          href="about"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          target="_self"
          >About us
        </a>
      </li>

      <li>
        <a
          href="https://www.sankir.com/my-account/"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          >Login</a
        >
      </li>
      <li>
        <a
          href="faq"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          >FAQ</a
        >
      </li>
      <li>
        <a
          href="https://www.sankir.com/blog/"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="#pocM"
          [ngClass]="{manuicons}"
          (click)="show()"
          (click)="showmenu()"
          >Poc</a
        >
      </li>
    </ul>
  </div>

  <div class="bottom">
    <div class="add">
      <h1>Contact us</h1>
      <p>
        Sanjay : sanjay@sankir.com <br />

        Kiran : kiran@sankir.com<br />

        Info: info@sankir.com<br />
        Ph: 9620960030 / 9845031055
      </p>
      <ul>
        <li>
          <a href="https://www.facebook.com/sankirtech"
            ><i class="fa fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/sankirtech/"
            ><i class="fa fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/sankir/"
            ><i class="fa fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/sankir/"
            ><i class="fa fa-meetup"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UC7a7WWT9kiKwjWMSZDT2DQg/videos"
            ><i class="fa fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
