<section class="why_sankir" id="why_sankir">
  <div class="container">
    <div class="head">
      <h1>Why sankir</h1>
    </div>
    <div class="body_layout">
      <ul>
        <li class="prnt_li">
          Differentiator in Pricing
          <ul>
            <li class="child_li">
              Competitive pricing compared to Cloud vendor’s professional
              services
            </li>
            <li class="child_li">Aim to deliver within Client’s Budget</li>
          </ul>
        </li>
        <li class="prnt_li">
          Hands-on Technical skills
          <ul>
            <li class="child_li">
              Data Engineering pipeline – Architecture, Orchestration,
              Optimization and Monitoring
            </li>
          </ul>
        </li>
        <li class="prnt_li">
          Industry Experience in Multitude of Data Projects
        </li>
      </ul>
      <div class="data_solve">
        <img src="../../assets/video-call.png" style="width: 5%" alt="" />
        <h4>Let SanKir own your Data Problems</h4>
      </div>
    </div>
  </div>
</section>
