@import "../../mixin.scss";
@import "../../veriable.scss";
.proof {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  .head {
    @include head;
  }
  .body_layout {
    padding-top: 6rem;
    h4 {
      font-style: italic;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      color: $white-text-color;
    }
    ul {
      @include list;
    }
  }
}
