<section class="proof" id="proof">
  <div class="container">
    <div class="head">
      <h1>Proof of Work - PoC</h1>
    </div>
    <div class="body_layout">
      <ul>
        <li>
          PoCs done for Clients
          <ul>
            <li>
              E2E DE Pipeline - Retail data set transformation using Spark, S3,
              AWS EMR, Athena
              <ul>
                <li>Convert Data into consumable format</li>
                <li>Business Insights - KPIs</li>
                <li>
                  Data Profiling – Column profile detail & Data quality metrics
                </li>
              </ul>
            </li>
            <li>
              Orchestration using Airflow for Ed-Fi operational store used in
              K-12 Education
              <ul>
                <li>Dynamic DAGs</li>
                <li>Schedule and monitoring of task-groups and tasks</li>
              </ul>
            </li>
            <li>
              Data Engineering using built-in and scalable Azure Databricks
              platform
              <ul>
                <li>Infra creation ( Spark Cluster ) – compute sizing</li>
                <li>Data Transformation, Best practice using Key vaults</li>
              </ul>
            </li>
            <li>
              Designing Data pipeline for ETH blockchain using Airflow and AWS
              EMR
            </li>
          </ul>
        </li>
      </ul>
      <h4>
        Cost of Cloud Infrastructure of PoC for the Organization will be very
        minimal
      </h4>
    </div>
  </div>
</section>
