@mixin boolet {
  &::before {
    content: "\2022";
    color: $primary-text-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
@mixin h1_group {
  h1 {
    color: $primary-text-color;
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
}

@mixin head {
  padding-bottom: 4rem;
  h1 {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    color: #3d3d3d;
    letter-spacing: 0;
    text-align: center;
  }
}

@mixin list {
  padding-left: 2rem;
  li {
    list-style: none;
    line-height: 2.2rem;
    font-size: 1.1rem;
    color: $li-color;
    @include boolet;
  }
}
