$backgroundbox-color: #1f485a;
$backgroundcolor: #f0faff;
$background-color-second: #0b1419;

$primary-text-color: #2c76dc;
$nav-background: #ffffff;
$white-text-color: rgb(0, 0, 0);
$backcolor: #000;
$li-color: #485c77;
