<section class="cloud">
  <div class="container">
    <div class="heading">
      <h1>Sankir Technology</h1>
      <h2>Accelerating <span> Data Engineering </span> Solution on Cloud</h2>
    </div>
    <div class="body_layout">
      <div class="iteams">
        <div class="ul-head">
          <img src="../../assets/video-call.png" style="width: 10%" alt="" />
          <h1>Expertise in Data Engineering on Cloud</h1>
        </div>
        <ul>
          <li>
            Data Engineering pipeline – Architecture,<br />Orchestration,
            Optimization and Monitoring
          </li>
          <li>Databricks, Apache Airflow</li>
          <li>Big Data - Apache Spark, Hadoop, HDFS</li>
          <li>DWH - Google BigQuery, Snowflake and DBT</li>
        </ul>
        <ul class="socila-media">
          <li>
            <img src="../../assets/aws.png" alt="" />
          </li>
          <li><img src="../../assets/cloud.png" alt="" /></li>
          <li><img src="../../assets/azure.png" alt="" /></li>
        </ul>
      </div>
      <div class="iteams">
        <div class="iteam">
          <img src="../../assets/biki.png" alt="" />
          <h1>Consultancy</h1>
        </div>
        <div class="iteam">
          <img src="../../assets/operator.png" alt="" />
          <h1>
            Engagement Partner for Business <br />
            Opportunities
          </h1>
        </div>

        <div class="domain-name">
          <img src="../../assets/world-wide-web.png" alt="" />
          <h1>www.sankir.com</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Architecture">
  <div class="container">
    <div class="head">
      <h1>Consultancy</h1>
    </div>
    <div class="ul-head">
      <img src="../../assets/video-call.png" width="5%" alt="" />
      <h1>Solution Architecture</h1>
    </div>
    <div class="body_layout">
      <div class="iteams">
        <ul>
          <li>
            Architecting the Data Pipeline on Cloud
            <ul>
              <li>Multiple Solution options for a data problem</li>
            </ul>
          </li>
          <li>
            Data Engineering Solution on Cloud
            <ul>
              <li>Optimizing the Data processing</li>
              <li>Best Practices in data & network security</li>
              <li>
                Spark Cluster - Sizing and Optimization for better<br />
                performance of workloads
              </li>
            </ul>
          </li>
          <li>
            Leverage SanKir AWS/Azure/GCP Cloud Infrastructure to<br />
            quickly test the solution
          </li>
          <li>
            SanKir can Work with Client’s CxO, Technical Managers or<br />
            Engineering team to solve the organizational Data<br />
            problems
          </li>
          <li>SanKir aims to align with Client’s Core Business Objectives</li>
        </ul>
      </div>
      <div class="iteams">
        <ul>
          <li>
            PoC on Data Engineering pipeline
            <br />powered by SanKir Framework and <br />Assets
          </li>
          <li>Cloud Services and Solution</li>
          <li>Data Engineering Tools and Solution</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="cloud_service_solutions">
  <div class="container">
    <div class="head">
      <h1>Consultancy in following Cloud Services and Solution</h1>
    </div>
    <div class="body_layout">
      <div class="iteams">
        <h1>AWS</h1>
        <ul>
          <li>Amazon S3</li>
          <li>
            Spark Cluster – AWS EMR
            <ul>
              <li>Cluster Sizing and Monitoring</li>
            </ul>
          </li>
          <li>Cloud DWH - RedShift/Athena</li>
          <li>AWS SDK using Boto3</li>
          <li>
            Orchestration
            <ul>
              <li>AWS Cloud Formation</li>
              <li>AWS Lambda</li>
              <li>CloudWatch</li>
            </ul>
          </li>
          <li>IAM and VPC</li>
          <li>Secrets Manager, KMS</li>
          <li>RDS - PostgrSQL, MySQL</li>
          <li>Apache Airflow/MWAA</li>
          <li>Databricks on AWS</li>
          <li>Snowflake on AWS</li>
          <li>CodeBuild, CodeDeploy</li>
          <li>AWS Cost Management</li>
        </ul>
      </div>
      <div class="iteams">
        <h1>Azure</h1>
        <ul>
          <li>ADLS</li>
          <li>Spark Cluster - Azure Databricks</li>
          <li>
            Cloud DWH
            <ul>
              <li>Azure Synapse Analytics</li>
              <li>SQL Databases</li>
            </ul>
          </li>
          <li>ABFS(S)/WASB(S) - API to access ADLS</li>
          <li>IAM</li>
          <li>Access Keys</li>
          <li>Shared Access Signature</li>
          <li>Azure Key Vaults, Keys & Secrets</li>
          <li>Service Principal</li>
          <li>Azure Data Factory</li>
          <li>Snowflake on Azure</li>
          <li>Azure Active Directory (AAD)</li>
        </ul>
      </div>
      <div class="iteams">
        <h1>Gcp</h1>
        <ul>
          <li>Google Cloud Storage</li>
          <li>Spark Cluster - Google Dataproc</li>
          <li>Cloud DWH - Google BigQuery</li>
          <li>
            Google Cloud SDK
            <ul>
              <li>Google Cloud CLI</li>
              <li>cloud shell</li>
            </ul>
          </li>
          <li>IAM</li>
          <li>Cloud Functions</li>
          <li>Secret Manager</li>
          <li>Cloud Run</li>
          <li>Cloud Build</li>
          <li>Terraform on GCP</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="data_engineer_solution">
  <div class="container">
    <div class="head">
      <h1>Consultancy in following Data Engineering Tools and Solution</h1>
    </div>
    <div class="body_layout">
      <div class="iteams">
        <h1>Databricks</h1>
        <ul>
          <li>
            • ELT Solution provided on Azure, Azure and<br />
            GCP
          </li>
          <li>
            Databricks Spark Cluster
            <ul>
              <li>
                Cluster Types - All Purpose and Job<br />
                Clusters
              </li>
              <li>Cluster Configuration</li>
              <li>
                Cluster Mode - Standard, High<br />Concurrency, Single Node
              </li>
              <li>Cluster Pools</li>
            </ul>
          </li>
          <li>Databricks Runtime</li>
          <li>Auto Scaling & Auto Termination</li>
          <li>Notebook Workflow Utilities</li>
          <li>DBFS & Databricks mounts</li>
          <li>Databricks secrets</li>
          <li>File System Utilities</li>
        </ul>
      </div>
      <div class="iteams">
        <h1>Snowflake</h1>
        <ul>
          <li>ELT Solution provided on AWS, Azure and GCP</li>
          <li>Loading Data from S3/ADLS/GCS</li>
          <li>
            DML for bulk data loading/unloading using<br />
            COPY command
          </li>
          <li>
            Snow pipe - Load data fast, analyze even<br />
            faster
          </li>
          <li>Snowflake Connector for Python & Spark</li>
          <li>Accelerating BI Queries with Caching</li>
          <li>
            Eliminating Concurrency Issues with<br />Snowflake Virtual
            Warehouses
          </li>
          <li>Data Protection with Time Trave</li>
          <li>Zero copy cloning</li>
          <li>Standard and Extended SQL</li>
          <li>
            Advanced DML such as multi-table INSERT,<br />
            MERGE, and multi-merge
          </li>
          <li>
            Statistical and Analytical aggregate<br />
            functions
          </li>
          <li>Windowing functions</li>
        </ul>
      </div>
      <div class="iteams">
        <div class="wrap">
          <h1>Apache Airflow</h1>
          <ul>
            <li>
              Data Pipeline Solution on AWS, Azure and<br />
              GCP
            </li>
            <li>Dynamic DAG Authoring using task groups</li>
            <li>DAG Dependencies</li>
            <li>Airflow Variables</li>
            <li>Scheduling and Triggers</li>
            <li>Templating</li>
            <li>Task Flow API</li>
            <li>XCOMs</li>
          </ul>
        </div>
        <div class="wrap">
          <h1>Data Build Tool - DBT</h1>
          <ul>
            <li>
              Types of Materializations, Incremental<br />
              Models & Ephermal Models
            </li>
            <li>Hooks, Snapshots & Macros</li>
            <li>
              Integrate DBT with Snowflake, Databricks,<br />
              BigQuery, RedShift & Apache Spark
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="engagement_partner">
  <div class="container">
    <div class="head">
      <h1>SanKir as Engagement Partner for Business Opportunities</h1>
    </div>
    <div class="body_layout">
      <ul>
        <li class="prnt_li">
          Architecting the Solution for Client’s Potential Business
          opportunities
          <ul>
            <li class="child_li">
              Recommendation on right choice of Cloud vendor, Data Pipeline
              Tools and services and<br />Cloud Data Warehouse based on Client
              requirements
            </li>
          </ul>
        </li>
        <li class="prnt_li">Execute PoC to win a Project deal</li>
        <li class="prnt_li">
          Customized technology upskill program for Corporate professionals
          <ul>
            <li class="child_li">
              Enable Client to showcase their team’s skills for resourcing
              opportunities
            </li>
            <li class="child_li">Hans-on sessions with PoC project</li>
          </ul>
        </li>
        <li class="prnt_li">
          Joint Go-To-Market Strategy
          <ul>
            <li class="child_li">
              SanKir can partner with Client from initial bid stage to
              Architecting the Solution to<br />
              Project Execution
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="why_sankir">
  <div class="container">
    <div class="head">
      <h1>Why sankir</h1>
    </div>
    <div class="body_layout">
      <ul>
        <li class="prnt_li">
          Differentiator in Pricing
          <ul>
            <li class="child_li">
              Competitive pricing compared to Cloud vendor’s professional
              services
            </li>
            <li class="child_li">Aim to deliver within Client’s Budget</li>
          </ul>
        </li>
        <li class="prnt_li">
          Hands-on Technical skills
          <ul>
            <li class="child_li">
              Data Engineering pipeline – Architecture, Orchestration,
              Optimization and Monitoring
            </li>
          </ul>
        </li>
        <li class="prnt_li">
          Industry Experience in Multitude of Data Projects
        </li>
      </ul>
      <div class="data_solve">
        <img src="../../assets/video-call.png" style="width: 5%" alt="" />
        <h4>Let SanKir own your Data Problems</h4>
      </div>
    </div>
  </div>
</section>

<section class="proof">
  <div class="container">
    <div class="head">
      <h1>Proof of Work - PoC</h1>
    </div>
    <div class="body_layout">
      <ul>
        <li>
          PoCs done for Clients
          <ul>
            <li>
              E2E DE Pipeline - Retail data set transformation using Spark, S3,
              AWS EMR, Athena
              <ul>
                <li>Convert Data into consumable format</li>
                <li>Business Insights - KPIs</li>
                <li>
                  Data Profiling – Column profile detail & Data quality metrics
                </li>
              </ul>
            </li>
            <li>
              Orchestration using Airflow for Ed-Fi operational store used in
              K-12 Education
              <ul>
                <li>Dynamic DAGs</li>
                <li>Schedule and monitoring of task-groups and tasks</li>
              </ul>
            </li>
            <li>
              Data Engineering using built-in and scalable Azure Databricks
              platform
              <ul>
                <li>Infra creation ( Spark Cluster ) – compute sizing</li>
                <li>Data Transformation, Best practice using Key vaults</li>
              </ul>
            </li>
            <li>
              Designing Data pipeline for ETH blockchain using Airflow and AWS
              EMR
            </li>
          </ul>
        </li>
      </ul>
      <h4>
        Cost of Cloud Infrastructure of PoC for the Organization will be very
        minimal
      </h4>
    </div>
  </div>
</section>
