@import "../../veriable.scss";
@import "../../mixin.scss";
nav {
  background-color: $nav-background;
  border-bottom: 3px solid $primary-text-color;
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;

    h1 {
      color: #fff;
      background-color: $backgroundbox-color;
      padding: 0.2rem 1rem;
    }
    h2 {
      color: $white-text-color;
      span {
        color: $primary-text-color;
      }
    }
    ul {
      li {
        list-style: none;
        display: inline;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        a {
          color: $li-color;
          font-size: 1rem;
        }
        ul {
          background: $primary-text-color;
          visibility: hidden;
          opacity: 0;
          width: 200%;
          position: absolute;
          transition: all 0.5s ease;
          margin-top: 1rem;
          display: none;
          padding: 1rem 0;
          li {
            display: block;
            line-height: 1rem;
            padding: 1rem;
            a {
              color: #fff;
            }
            &:hover a {
              color: $li-color;
            }
            &:hover {
              background-color: #fff;
            }
          }
        }
      }
    }
    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}
.cloud {
  padding: 8rem 5rem 8rem;
  background-color: rgba(214, 238, 252, 0.568);
  .body_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    column-gap: 12rem;
    .iteams {
      .ul-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;

        @include h1_group;
      }

      .iteam {
        padding-bottom: 5rem;
        img {
          width: 10%;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        @include h1_group;
      }
      .domain-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 3rem;
        padding-top: 0rem;
        h1 {
          color: $primary-text-color;
          font-size: 1.7rem;
          font-weight: 500;
          padding-bottom: 1.5rem;
          border-top: 1px solid;
          width: 80%;
          text-align: center;
          padding: 2rem 0 0rem;
          font-size: 2rem;
          margin-top: 5rem;
        }
        img {
          width: 10%;
        }
      }
      ul {
        padding-left: 10rem;
        li {
          list-style: none;
          line-height: 2.2rem;
          font-size: 1.2rem;
          padding-bottom: 1rem;
          color: $white-text-color;
          @include boolet;
        }
      }
      .socila-media {
        padding-top: 5rem;
        padding-left: 4rem;
        li {
          padding-right: 3rem;
          display: inline;
          &::before {
            display: none;
          }
          img {
            width: 20%;
          }
        }
      }
    }
  }
}

.Architecture {
  padding: 3rem 5rem 5rem;
  .head {
    @include head;
  }
  .ul-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: $primary-text-color;
    }
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    .iteams {
      h1 {
        color: $primary-text-color;
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 1.5rem;
      }
      ul {
        @include list;
      }
    }
  }
}

.cloud_service_solutions {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  .head {
    @include head;
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    .iteams {
      padding-top: 2rem;
      h1 {
        color: $primary-text-color;
        font-size: 1.6rem;
        font-weight: 800;
        padding-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
      }
      ul {
        @include list;
      }
      .socila-media {
        li {
          padding-right: 3rem;
          display: inline;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.data_engineer_solution {
  padding: 3rem 5rem 5rem;
  .head {
    @include head;
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    .iteams {
      padding-top: 2rem;
      h1 {
        color: $primary-text-color;
        font-size: 1.6rem;
        font-weight: 800;
        padding-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
      }
      ul {
        @include list;
      }
    }
  }
}

.engagement_partner {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  .head {
    @include head;
  }
  .body_layout {
    padding-top: 6rem;
    ul {
      @include list;
    }
  }
}

.why_sankir {
  padding: 3rem 5rem 5rem;
  .head {
    @include head;
  }
  .body_layout {
    padding-top: 6rem;
    .data_solve {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem 0 0;
      column-gap: 1rem;

      h4 {
        font-size: 1.5rem;
        color: $primary-text-color;
      }
    }
    ul {
      padding-left: 5rem;
      @include list;
    }
  }
}

.proof {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  .head {
    @include head;
  }
  .body_layout {
    padding-top: 6rem;
    h4 {
      font-style: italic;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      color: $white-text-color;
    }
    ul {
      @include list;
    }
  }
}
