<section
  id="carouselExampleFade"
  class="carousel slide carousel-fade banner"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>

    <button
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <div class="info">
          <div class="pra" data-aos="zoom-in" data-aos-duration="3000">
            <h5>Expertise in Data Engineering on Cloud</h5>
            <ul>
              <li>Data Engineering pipeline – Architecture, Orchestration,</li>
              <li>Databricks, Apache Airflow</li>
              <li>Big Data - Apache Spark, Hadoop, HDFS</li>
              <li>DWH - Google BigQuery, Snowflake and DBT</li>
            </ul>
          </div>
          <img
            src="https://barakahit.net/html/Techmax/assets/img/home-font.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption">
        <div class="info">
          <h5>Engagement Partner for Business Opportunities</h5>

          <img
            src="https://barakahit.net/html/Techmax/assets/img/home-font.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <div class="info">
          <div class="wrap">
            <h5>Why Sankir ?</h5>
            <ul>
              <li>
                Differentiator in Pricing
                <ul class="child">
                  <li>
                    Competitive pricing compared to Cloud vendor’s professional
                    services
                  </li>
                  <li>Aim to deliver within Client’s Budget</li>
                </ul>
              </li>
              <li>Industry Experience in Multitude of Data Projects</li>
            </ul>
          </div>

          <img
            src="https://cutesolution.com/html/Techvio/assets/img/home-font.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <div class="info">
          <h5>Let SanKir own your Data Problems</h5>

          <img
            src="https://barakahit.net/html/Techmax/assets/img/home-font.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero_wrap">
  <section class="Architecture" id="Architecture">
    <div class="container">
      <div class="head">
        <h1>Consultancy - Expertise in Data Engineering on Cloud</h1>
      </div>
      <div class="body_layout">
        <div class="items">
          <h1>{{ ArchiName }}</h1>
          <ul *ngFor="let info of ulInfo">
            <li>{{ info }}</li>
          </ul>
        </div>
        <div class="items">
          <h1>{{ leveName }}</h1>
          <ul *ngFor="let service of Services">
            <li>
              {{ service.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="clients">
    <div class="container">
      <div class="head">
        <h1>PoCs Done For Clients</h1>
      </div>
      <div class="body_layout">
        <div class="heads">
          <div class="head_items">
            <h1>Technology Focus</h1>
          </div>
          <div class="head_items">
            <h1>Description</h1>
          </div>
          <div class="head_items">
            <h1>Proof of Work</h1>
          </div>

          <div class="head_items">
            <h1>Documentation</h1>
          </div>
        </div>

        <div class="body_info">
          <div class="items" *ngFor="let client of clientTables">
            <h1>{{ client.name }}</h1>
            <ul>
              <li *ngFor="let product of client.products">
                {{ product.productsName }}
              </li>
            </ul>
            <iframe [src]="safeUrl(client.video)"></iframe>
            <img [src]="client.image" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients_mobile">
    <div class="container">
      <div class="head">
        <h1>PoCs Done For Clients</h1>
      </div>
      <div class="body_layout">
        <div class="heads">
          <div class="head_items">
            <h1>Technology Focus</h1>
          </div>
          <div class="head_items">
            <h1>Description</h1>
          </div>
          <div class="head_items">
            <h1>Proof of Work</h1>
          </div>
        </div>

        <div class="body_info">
          <div class="items" *ngFor="let client of clientTables">
            <h1>{{ client.name }}</h1>
            <ul>
              <li *ngFor="let product of client.products">
                {{ product.productsName }}
              </li>
            </ul>
            <iframe [src]="safeUrl(client.video)"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="cloud_service_solutions" id="cloud_service">
  <div class="container">
    <div class="head">
      <h1>Cloud Services and Solution</h1>
    </div>
    <div class="body_layout">
      <div
        class="itames"
        data-aos="flip-left"
        data-aos-offset="600"
        data-aos-easing="ease-in-sine"
      >
        <div class="card">
          <div class="heads">
            <h1>AWS</h1>
          </div>
          <div class="card-body">
            <ul *ngFor="let itame of awsItames">
              <li>
                {{ itame.prentList }}
                <ul>
                  <li *ngFor="let childItem of itame.childLists">
                    {{ childItem.childList }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="itames"
        data-aos="flip-left"
        data-aos-offset="600"
        data-aos-easing="ease-in-sine"
      >
        <div class="card">
          <div class="heads">
            <h1>Azure</h1>
          </div>
          <div class="card-body">
            <ul *ngFor="let itame of azureItames">
              <li>
                {{ itame.prentList }}
                <ul>
                  <li *ngFor="let childItem of itame.childLists">
                    {{ childItem.childList }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="itames"
        data-aos="flip-left"
        data-aos-offset="600"
        data-aos-easing="ease-in-sine"
      >
        <div class="card">
          <div class="heads">
            <h1>GCP</h1>
          </div>
          <div class="card-body">
            <ul *ngFor="let itame of gcpItames">
              <li>
                {{ itame.prentList }}
                <ul>
                  <li *ngFor="let childItem of itame.childLists">
                    {{ childItem.childList }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="data_engineer_solution" id="data_engineer">
  <div class="container">
    <div class="head">
      <h1>Data Engineering Tools and Solution</h1>
    </div>
    <div class="body_layout">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="iteams">
            <div class="card">
              <div class="heads">
                <h1>Databricks</h1>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    ELT Solution provided on Azure, Azure and<br />
                    GCP
                  </li>
                  <li>
                    Databricks Spark Cluster
                    <ul>
                      <li>
                        Cluster Types - All Purpose and Job<br />
                        Clusters
                      </li>
                      <li>Cluster Configuration</li>
                      <li>
                        Cluster Mode - Standard, High<br />Concurrency, Single
                        Node
                      </li>
                      <li>Cluster Pools</li>
                    </ul>
                  </li>
                  <li>Databricks Runtime</li>
                  <li>Auto Scaling & Auto Termination</li>
                  <li>Notebook Workflow Utilities</li>
                  <li>DBFS & Databricks mounts</li>
                  <li>Databricks secrets</li>
                  <li>File System Utilities</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="iteams">
            <div class="card">
              <div class="heads">
                <h1>Snowflake</h1>
              </div>
              <div class="card-body">
                <ul>
                  <li>ELT Solution provided on AWS, Azure and GCP</li>
                  <li>Loading Data from S3/ADLS/GCS</li>
                  <li>
                    DML for bulk data loading/unloading using<br />
                    COPY command
                  </li>
                  <li>
                    Snow pipe - Load data fast, analyze even<br />
                    faster
                  </li>
                  <li>Snowflake Connector for Python & Spark</li>
                  <li>Accelerating BI Queries with Caching</li>
                  <li>
                    Eliminating Concurrency Issues with<br />Snowflake Virtual
                    Warehouses
                  </li>
                  <li>Data Protection with Time Trave</li>
                  <li>Zero copy cloning</li>
                  <li>Standard and Extended SQL</li>
                  <li>
                    Advanced DML such as multi-table INSERT,<br />
                    MERGE, and multi-merge
                  </li>
                  <li>
                    Statistical and Analytical aggregate<br />
                    functions
                  </li>
                  <li>Windowing functions</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="iteams">
            <div class="card">
              <div class="heads">
                <h1>Apache Airflow</h1>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    Data Pipeline Solution on AWS, Azure and<br />
                    GCP
                  </li>
                  <li>Dynamic DAG Authoring using task groups</li>
                  <li>DAG Dependencies</li>
                  <li>Airflow Variables</li>
                  <li>Scheduling and Triggers</li>
                  <li>Templating</li>
                  <li>Task Flow API</li>
                  <li>XCOMs</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="iteams">
            <div class="card">
              <div class="heads">
                <h1>Data Build Tool - DBT</h1>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    Types of Materializations, Incremental<br />
                    Models & Ephermal Models
                  </li>
                  <li>Hooks, Snapshots & Macros</li>
                  <li>
                    Integrate DBT with Snowflake, Databricks,<br />
                    BigQuery, RedShift & Apache Spark
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
