@import "../../veriable.scss";
@import "../../mixin.scss";
.banner {
  // background-color: #000;
  .carousel-item {
    background-color: #002c96;
    // background-color: rgb(119, 198, 243);
    padding: 25rem;
    border-bottom-right-radius: 200px;
    .carousel-caption {
      background: linear-gradient(
        130.76deg,
        rgba(152, 136, 233, 0.1) 15.8%,
        rgba(90, 69, 194, 0) 75.08%
      );
      border-top-left-radius: 50px;
      padding: 5rem 0;
      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h5 {
          font-size: 4rem;
          text-align: left;
          padding-bottom: 2rem;
          padding-left: 5rem;
        }
        .pra {
          padding-left: 3rem;
          h5 {
            font-size: 4rem;
            text-align: left;
            padding-bottom: 2rem;
            padding-left: 0;
          }
          ul {
            padding: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

.cloud {
  padding: 8rem 5rem 8rem;
  background-color: rgba(214, 238, 252, 0.568);
  .body_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    column-gap: 12rem;
    .iteams {
      .ul-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;

        @include h1_group;
      }

      .iteam {
        padding-bottom: 5rem;
        img {
          width: 10%;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        @include h1_group;
      }
      .domain-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 3rem;
        padding-top: 0rem;
        h1 {
          color: $primary-text-color;
          font-size: 1.7rem;
          font-weight: 500;
          padding-bottom: 1.5rem;
          border-top: 1px solid;
          width: 80%;
          text-align: center;
          padding: 2rem 0 0rem;
          font-size: 2rem;
          margin-top: 5rem;
        }
        img {
          width: 10%;
        }
      }
      ul {
        padding-left: 10rem;
        li {
          list-style: none;
          line-height: 2.2rem;
          font-size: 1.2rem;
          padding-bottom: 1rem;
          color: $white-text-color;
          @include boolet;
        }
      }
      .socila-media {
        padding-top: 5rem;
        padding-left: 4rem;
        li {
          padding-right: 3rem;
          display: inline;
          &::before {
            display: none;
          }
          img {
            width: 20%;
          }
        }
      }
    }
  }
}

.Architecture {
  padding: 3rem 5rem 5rem;
  .head {
    padding-bottom: 4rem;
    h1 {
      font-family: "Poppins", sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 400;
      color: #3d3d3d;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .body_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    column-gap: 1rem;
    .items {
      width: 100%;
      h1 {
        font-size: 1.3rem;
      }
    }
  }
}

.cloud_service_solutions {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  border-bottom-right-radius: 200px;
  .head {
    padding-bottom: 2rem;
    h1 {
      font-family: "Poppins", sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 400;
      color: #3d3d3d;
      letter-spacing: 0;
      text-align: center;
    }
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    column-gap: 2rem;
    .iteams {
      padding-top: 2rem;
      width: 100%;
      .card {
        height: 100%;
        border: none;
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        .heads {
          background-color: #344f00;
          padding: 2rem;
          box-shadow: 0 0 10px rgb(0 0 0 / 10%);

          h1 {
            color: $nav-background;
            font-size: 1.6rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: 1px;
          }
        }
        .card-body {
          ul {
            padding-left: 2rem;
            li {
              font-size: 1.1rem;
              list-style: none;
              line-height: 2rem;
              &::before {
                content: "\2022";
                color: $primary-text-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
            }
          }
        }
      }
    }
  }
}

.data_engineer_solution {
  padding: 3rem 5rem 5rem;
  .head {
    padding-bottom: 2rem;
    h1 {
      font-family: "Poppins", sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 400;
      color: #3d3d3d;
      letter-spacing: 0;
      text-align: center;
    }
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: flex-start;
    column-gap: 2rem;
    .iteams {
      padding-top: 2rem;
      .card {
        height: 600px;
        overflow: hidden;
        .heads {
          background-color: #000;
          padding: 2rem;
          box-shadow: 0 0 10px rgb(0 0 0 / 10%);

          h1 {
            color: $nav-background;
            font-size: 1.6rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: 1px;
          }
        }
        .card-body {
          overflow-y: scroll;
          ul {
            padding-left: 2rem;
            li {
              font-size: 1.1rem;
              list-style: none;
              line-height: 2rem;
              &::before {
                content: "\2022";
                color: $primary-text-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
            }
          }
        }
      }
    }
  }
}

.engagement_partner {
  padding: 3rem 5rem 5rem;
  background-color: $backgroundcolor;
  .head {
    @include head;
  }
  .body_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    .items {
      width: 100%;
      .card {
        height: 100%;
        h1 {
          font-size: 1.2rem;
          text-align: center;
          padding: 1rem;
        }
        p {
          font-size: 0.8rem;
          padding: 2rem;
        }
      }
    }
  }
}
